/*
Icon classes can be used entirely standalone. They are named after their original file names.

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
.icon-soc_facebook {
  background-image: url(../images/footer/footer.png);
  background-position: 0px -40px;
  width: 45px;
  height: 40px;
  display: block;
}
.icon-soc_infinite {
  background-image: url(../images/footer/footer.png);
  background-position: 0px 0px;
  width: 46px;
  height: 40px;
  display: block;
}
.icon-soc_p {
  background-image: url(../images/footer/footer.png);
  background-position: -45px -40px;
  width: 45px;
  height: 40px;
  display: block;
}
.icon-soc_twitter {
  background-image: url(../images/footer/footer.png);
  background-position: -46px 0px;
  width: 46px;
  height: 40px;
  display: block;
}
