/*
Icon classes can be used entirely standalone. They are named after their original file names.

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
.icon-ball {
  background-image: url(../images/small%20team/small_team_sprites/small_team_sprites.png);
  background-position: -31px 0px;
  width: 13px;
  height: 16px;
  display: block;
}
.icon-facebook {
  background-image: url(../images/small%20team/small_team_sprites/small_team_sprites.png);
  background-position: 0px -16px;
  width: 10px;
  height: 16px;
  display: block;
}
.icon-mail {
  background-image: url(../images/small%20team/small_team_sprites/small_team_sprites.png);
  background-position: 0px 0px;
  width: 17px;
  height: 16px;
  display: block;
}
.icon-twitter {
  background-image: url(../images/small%20team/small_team_sprites/small_team_sprites.png);
  background-position: -17px 0px;
  width: 14px;
  height: 16px;
  display: block;
}
