/*
Icon classes can be used entirely standalone. They are named after their original file names.

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
.icon-audiopro_sponsor {
  background-image: url(../images/sponsors/sponsors.png);
  background-position: -115px -138px;
  width: 114px;
  height: 69px;
  display: block;
}
.icon-infinity_sponsor {
  background-image: url(../images/sponsors/sponsors.png);
  background-position: 0px 0px;
  width: 132px;
  height: 69px;
  display: block;
}
.icon-rko_sponsor {
  background-image: url(../images/sponsors/sponsors.png);
  background-position: 0px -138px;
  width: 115px;
  height: 69px;
  display: block;
}
.icon-sport_sponsor {
  background-image: url(../images/sponsors/sponsors.png);
  background-position: -132px 0px;
  width: 130px;
  height: 69px;
  display: block;
}
.icon-swan_sponsor {
  background-image: url(../images/sponsors/sponsors.png);
  background-position: -130px -69px;
  width: 118px;
  height: 69px;
  display: block;
}
.icon-swanser_sponsor {
  background-image: url(../images/sponsors/sponsors.png);
  background-position: 0px -69px;
  width: 130px;
  height: 69px;
  display: block;
}
