.slider {
  width: 80%;
  margin: auto;
  box-sizing: border-box;
  z-index: 2;
}

.slider-fone {
  height: 410px;
  max-width: 480px;
  width: 100%;
  background: #eeeff1;
  position: absolute;
  margin: auto;
  top: 7%;
  right: 7%;
  z-index: 1;
}

@media screen and (max-width: 740px) {
  .slider-fone {
    display: none;
  }
}
@media screen and (max-width: 991px) {
  .slider-fone {
    height: 410px;
    max-width: 480px;
    width: 100%;
    top: 10%;
    right: 15%;
  }
}
@media screen and (max-width: 1199px) and (min-width: 991px) {
  .slider-fone {
    height: 360px;
    max-width: 400px;
  }
}
.slick-slide {
  margin: 0px 5px;
}
.slick-slide img {
  margin: auto;
}

.slick-dots li button:before {
  background: black;
  width: 10px !important;
  height: 10px !important;
  border-radius: 2px;
  content: "" !important;
}
.slick-dots li.slick-active button:before {
  background: #71f6eb;
}

.footer {
  background: #262b2e;
  padding-bottom: 90px;
  padding-top: 90px;
  color: #bbbbbc;
}
.footer_header {
  margin-bottom: 20px;
}
.footer_soc {
  margin-bottom: 40px;
}
.footer_soc li {
  background: #424648;
}
.footer_soc li:hover {
  background: #6eeee4;
}

.contacts {
  background: url(../images/contacts_fone.png) no-repeat center;
  background-size: cover;
  padding-top: 120px;
  padding-bottom: 120px;
}
.contacts_form_wrap {
  background: rgba(73, 88, 98, 0.8);
  padding-top: 30px;
  padding-bottom: 32px;
}
.contacts_form_wrap_btn {
  margin-top: 32px;
  border-radius: 0px;
  background: #6eeee4;
  color: #2e6b66;
}
.contacts_adres_wrap {
  color: #879097;
  background: rgba(73, 88, 98, 0.8);
  padding-top: 15px;
  padding-bottom: 15px;
}

.form-control {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #879097;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #879097;
  border-radius: 0px;
  box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0.075);
}

.form-control:focus {
  border-bottom: 3px solid #879097;
  box-shadow: 0 0px 0px rgba(0, 0, 0, 0.075);
}

.sponsors {
  padding-top: 100px;
  padding-bottom: 130px;
}
.sponsors_list > li {
  margin-right: 58px;
}
@media screen and (max-width: 637px) {
  .sponsors_list > li {
    margin-right: 20px;
  }
}

.our_services {
  background: #f9fbfb;
}
.our_services_title {
  margin: 120px 0px;
}
.our_services_list {
  padding: 0px 0px 125px 0px;
}
.our_services_list div, .our_services_list div > div {
  padding-right: 5px;
  padding-left: 5px;
}
.our_services_list div > div {
  margin-bottom: 10px;
}
.our_services_list_element > .wrap {
  padding: 65px;
}
.our_services_list_element:nth-child(1) > .wrap {
  background: #70f5eb;
  color: #1d4a47;
}
.our_services_list_element:nth-child(1) > .wrap .wrap_close {
  margin-top: 50px;
}
.our_services_list .wrap_link {
  margin-top: 30px;
}
.our_services_list_element:nth-child(2) > .wrap {
  background: url(../images/our_services2.png) no-repeat center;
  background-size: cover;
  color: white;
  padding-top: 109px;
}
.our_services_list_element:nth-child(3) > .wrap {
  background: url(../images/our_services3.png) no-repeat center;
  background-size: cover;
  color: white;
  padding-top: 79px;
}
.our_services_list_element:nth-child(4) > .wrap {
  background: url(../images/our_services4.png) no-repeat center;
  background-size: cover;
  color: white;
}
.our_services_list_element:nth-child(5) > .wrap {
  background: url(../images/our_services5.png) no-repeat center;
  background-size: cover;
  color: white;
}
.our_services_list_element:nth-child(6) > .wrap {
  background: url(../images/our_services6.png) no-repeat center;
  background-size: cover;
  color: white;
}
@media screen and (min-width: 991px) and (max-width: 1199px) {
  .our_services_list_element:nth-child(2) > .wrap {
    background: url(../images/our_services2.png) no-repeat center;
    background-size: cover;
    color: white;
    padding-top: 172px;
  }
  .our_services_list_element:nth-child(3) > .wrap {
    background: url(../images/our_services3.png) no-repeat center;
    background-size: cover;
    color: white;
    padding-top: 96px;
  }
}
@media screen and (min-width: 5000px) {
  .our_services_list_element:nth-child(2) > .wrap {
    background: url(../images/our_services2.png) no-repeat center;
    background-size: cover;
    color: white;
    padding-top: 187px;
  }
  .our_services_list_element:nth-child(3) > .wrap {
    background: url(../images/our_services3.png) no-repeat center;
    background-size: cover;
    color: white;
    padding-top: 88px;
  }
}
@media screen and (min-width: 3000px) and (max-width: 4999px) {
  .our_services_list_element:nth-child(2) > .wrap {
    background: url(../images/our_services2.png) no-repeat center;
    background-size: cover;
    color: white;
    padding-top: 135px;
  }
  .our_services_list_element:nth-child(3) > .wrap {
    background: url(../images/our_services3.png) no-repeat center;
    background-size: cover;
    color: white;
    padding-top: 65px;
  }
}

.featured_works {
  padding-bottom: 110px;
}
.featured_works_title {
  margin-top: 130px;
  margin-bottom: 130px;
}
.featured_works_galery div, .featured_works_galery div > div {
  padding-right: 0;
  padding-left: 0;
}
.featured_works_galery div > div {
  margin-bottom: 10px;
}
@media screen and (max-width: 1199px) {
  .featured_works_galery div > div {
    padding-right: 5px;
    padding-left: 5px;
  }
}

.about_us {
  padding-bottom: 110px;
  background: #f8fafa;
}
.about_us_title {
  margin-top: 130px;
}
.about_us_slider {
  margin-top: 150px;
}

.header_link {
  margin-top: 102px;
  padding-top: 204px;
}
.header_link_button {
  margin: 150px 0px;
}

.navbar {
  padding-top: 30px;
  padding-bottom: 30px;
}

.logo_btn, .header_link_button {
  color: #333;
  background-color: #eff0f2;
  border: 5px solid  #040000;
  border-radius: 0px;
}

.header_link_head {
  text-shadow: 5px 5px 10px black;
}
.header_link_span {
  background: #b2f2ee;
}
.header_link_button {
  border: 1px solid  #040000;
  padding: 0px 45px;
}

.navbar, .nav_menu {
  background: #eff0f2;
}

header {
  background: url(../images/header_fone.png) no-repeat center;
  background-size: cover;
}

@media screen and (max-width: 991px) {
  .nav_menu {
    margin-top: 40px;
  }
}
.what_they_say {
  background: #f9fbfb;
}
.what_they_say_slider {
  z-index: 2;
  margin-bottom: 140px !important;
}
.what_they_say_slider_fone {
  height: 354px;
  max-width: 370px;
  width: 100%;
  background: #eeeff1;
  position: absolute;
  margin: auto;
  top: 7%;
  right: 58%;
  z-index: 1;
}

.text_wrap {
  background: #eeeff1;
  padding: 70px;
  margin-top: 33px;
}
.text_wrap_head {
  padding-top: 15px;
}
.text_wrap_words {
  padding-top: 20px;
}
.text_wrap_stars {
  color: #f2da3b;
  padding-top: 20px;
}

.what_they_say_slider .slick-dots {
  bottom: -15%;
  left: -25%;
}

.right_arrow {
  right: 20px;
  background: #71f6eb;
}

.left_arrow {
  right: 9%;
  background: white;
}

.right_arrow,
.left_arrow {
  position: absolute;
  bottom: -17%;
}

@media screen and (max-width: 1199px) {
  .what_they_say_slider_fone {
    height: 366px;
    max-width: 370px;
    top: 5%;
    right: 54%;
  }

  .text_wrap {
    padding: 54px;
    margin-top: 30px;
  }
}
@media screen and (max-width: 991px) {
  .left_arrow {
    right: 15%;
    background: white;
  }

  .text_wrap {
    padding: 25px;
  }

  .what_they_say_slider_fone {
    top: 3%;
    right: 24%;
  }
}
@media screen and (max-width: 740px) {
  .what_they_say_slider_fone {
    display: none;
  }
}
@media screen and (max-width: 640px) {
  .left_arrow {
    right: 20%;
    background: white;
  }
}
@media screen and (max-width: 450px) {
  .left_arrow {
    right: 25%;
    background: white;
  }
}
.small_team_title {
  margin: 120px 0px;
}
.small_team_list {
  padding: 0px 0px 120px 0px;
}
.small_team_list div, .small_team_list div > div {
  padding-right: 0;
  padding-left: 0;
}
.small_team_list div > div {
  margin-bottom: 10px;
}
@media screen and (max-width: 1199px) {
  .small_team_list div > div {
    padding-right: 5px;
    padding-left: 5px;
  }
}
.small_team_list_tooltip {
  opacity: 0.8;
  display: none;
  z-index: 2;
  position: absolute;
  top: 34%;
  left: 10%;
  right: 10%;
}
.small_team_list_tooltip .triangle {
  width: 1px;
  border: 20px solid transparent;
  border-bottom: 20px solid #71f6eb;
  position: relative;
  top: 20px;
  padding: 0;
}
.small_team_list_tooltip_inner {
  padding-top: 5px;
  padding-bottom: 5px;
  max-width: 300px;
  text-align: left;
  background: #71f6eb;
  border-radius: 0px;
  color: black;
}
.small_team_list .tooltip1:hover .small_team_list_tooltip, .small_team_list .small_team_list_tooltip_inner {
  display: block;
}

.tooltip-inner {
  max-width: 300px;
  text-align: left;
  background: #71f6eb;
  border-radius: 0px;
  color: black;
}

.tooltip {
  top: 185px !important;
}

.tooltip.bottom > .tooltip-arrow {
  border-bottom: 5px solid #71f6eb;
  left: 5% !important;
  padding: 0 !important;
}

.tooltip-inner > h4 {
  text-align: center;
}

.team-img {
  width: 370px;
  height: 441px;
}

@media screen and (max-width: 768px) {
  .small_team_list_tooltip {
    left: 28%;
    right: 27%;
  }
}
@media screen and (max-width: 500px) {
  .small_team_list_tooltip {
    left: 17%;
    right: 13%;
  }
}
@media screen and (max-width: 400px) {
  .small_team_list_tooltip {
    left: 7%;
    right: 2%;
  }
}
a {
  text-decoration: none;
  color: black;
}
