/*
Icon classes can be used entirely standalone. They are named after their original file names.

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
.icon-left_arrow {
  background-image: url(../images/what_they_say/what_they_say_sprites/what_they_say_sprites.png);
  background-position: 0px 0px;
  width: 19px;
  height: 15px;
  display: block;
}
.icon-right_arrow {
  background-image: url(../images/what_they_say/what_they_say_sprites/what_they_say_sprites.png);
  background-position: -19px 0px;
  width: 14px;
  height: 15px;
  display: block;
}
