@mixin galery {
	div,div>div{
		padding-right: 0;
		padding-left: 0;
	}
	div>div{
		margin-bottom: 10px;
	}
	@media screen and (max-width: 1199px) {
		div>div{
			padding-right: 5px;
			padding-left: 5px;
		}
	}
}
@mixin list_galery {
	div,div>div{
		padding-right: 5px;
		padding-left: 5px;
	}
	div>div{
		margin-bottom: 10px;
	}
	@media screen and (max-width: 1199px) {
	}
}
@mixin background($fone){
	background: $fone no-repeat center;
	background-size:cover;
	color:white;
}