.header_link{
	margin-top: 102px;
	padding-top:204px;
	&_button{
		margin:150px 0px;
	}
}

.navbar{
	padding-top: 30px;
	padding-bottom: 30px;
}
.logo_btn, .header_link_button {
	color: #333;
	background-color: #eff0f2;
	border: 5px solid  #040000;
	border-radius:0px;
}
.header_link{
	&_head{
		text-shadow: 5px 5px 10px black;
	}
	&_span{
		background: #b2f2ee;
	}
	&_button{
		border: 1px solid  #040000;
		padding:0px 45px;
	}
}
.navbar, .nav_menu{
	background: #eff0f2;
}
header{
	background: url(../images/header_fone.png) no-repeat center;
	background-size:cover;
}
@media screen and (max-width: 991px) {
	.nav_menu {
		margin-top:40px;
	}
}
