@import "../galery_mix.scss";
.small_team{
	&_title{
		margin:120px 0px;
	}
	&_list{
		@include galery;
		padding: 0px 0px 120px 0px;
		&_tooltip{
			opacity: 0.8;
			display:none;
			z-index: 2;
			position: absolute;
			top: 34%;
			left: 10%;
			right: 10%;
			.triangle{
				width: 1px;
				border: 20px solid transparent;	
				border-bottom: 20px solid #71f6eb;
				position: relative;
				top: 20px;
				padding: 0;
			}
			&_inner{
				padding-top: 5px;
				padding-bottom: 5px;
				max-width: 300px;
				text-align: left;
				background: #71f6eb;
				border-radius: 0px;
				color: black;
			}
		} 
		
		.tooltip1:hover .small_team_list_tooltip,.small_team_list_tooltip_inner{
			display:block;
		}
	}
}
.tooltip-inner {
	max-width: 300px;
	text-align: left;
	background: #71f6eb;
	border-radius: 0px;
	color: black;
}
.tooltip{
	top: 185px !important;
}

.tooltip.bottom > .tooltip-arrow {
	border-bottom: 5px solid #71f6eb;
	left: 5% !important;
	padding:0 !important;
}
.tooltip-inner>h4{
	text-align: center;
}
.team-img{
	width: 370px;
	height: 441px;
}
@media screen and (max-width: 768px) {
	.small_team_list_tooltip{
		left: 28%;
		right: 27%;
	}
	
}
@media screen and (max-width: 500px) {
	.small_team_list_tooltip{
		left: 17%;
		right: 13%;
	}
	
}
@media screen and (max-width: 400px) {
	.small_team_list_tooltip{
		left: 7%;
		right: 2%;
	}
	
}