@import "../galery_mix.scss";
.our_services{
	background: #f9fbfb;
	&_title{
		margin:120px 0px;
	}
	&_list{
		padding: 0px 0px 125px 0px;
		@include list_galery;
		&_element>.wrap{
			padding:65px;
		}
		&_element:nth-child(1)>.wrap{
			.wrap_close{
				margin-top:50px;
			}
			background:#70f5eb;
			color:#1d4a47;
		}
		.wrap_link{
			margin-top:30px;
		}
		&_element:nth-child(2)>.wrap{
			@include background(url(../images/our_services2.png));
			padding-top: 109px;
		}
		&_element:nth-child(3)>.wrap{
			@include background(url(../images/our_services3.png));
			padding-top: 79px;
		}
		&_element:nth-child(4)>.wrap{
			@include background(url(../images/our_services4.png));
		}
		&_element:nth-child(5)>.wrap{
			@include background(url(../images/our_services5.png));
		}
		&_element:nth-child(6)>.wrap{
			@include background(url(../images/our_services6.png))
		}
		@media screen and (min-width: 991px) and (max-width: 1199px) {
			&_element:nth-child(2)>.wrap{
				@include background(url(../images/our_services2.png));
				padding-top: 172px;
			}
			&_element:nth-child(3)>.wrap{
				@include background(url(../images/our_services3.png));
				padding-top: 96px;
			}
		}
		@media screen and (min-width: 5000px) {
			&_element:nth-child(2)>.wrap{
				@include background(url(../images/our_services2.png));
				padding-top: 187px;
			}
			&_element:nth-child(3)>.wrap{
				@include background(url(../images/our_services3.png));
				padding-top: 88px;
			}
		}
		@media screen and (min-width: 3000px)and (max-width: 4999px) {
			&_element:nth-child(2)>.wrap{
				@include background(url(../images/our_services2.png));
				padding-top: 135px;
			}
			&_element:nth-child(3)>.wrap{
				@include background(url(../images/our_services3.png));
				padding-top: 65px;
			}
		}
	}

}
