.contacts{
	background: url(../images/contacts_fone.png) no-repeat center;
	background-size:cover;
	padding-top:120px;
	padding-bottom:120px;
	&_form{
		&_wrap{
			background: rgba(73, 88, 98, 0.8);
			padding-top: 30px;
			padding-bottom: 32px;
			&_btn{
				margin-top: 32px;
				border-radius:0px;
				background: #6eeee4;
				color:#2e6b66;
			}
		}
	}
	&_adres{
		&_wrap{
			color: #879097;
			background: rgba(73, 88, 98, 0.8);
			padding-top: 15px;
			padding-bottom: 15px;
		}
	}
}
.form-control {
	display: block;
	width: 100%;
	height: 34px;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.42857143;
	color: #879097;
	background-color: transparent;
	border: none;
	border-bottom: 1px solid #879097;
	border-radius: 0px;
	box-shadow: inset 0 0px 0px rgba(0, 0, 0, .075);
}
.form-control:focus{
	border-bottom: 3px solid #879097;
	box-shadow: 0 0px 0px rgba(0, 0, 0, 0.075)
}