.footer{
	background: #262b2e;
	padding-bottom:90px;
	padding-top:90px;
	color: #bbbbbc;
	&_header{
		margin-bottom: 20px;
	}
	&_soc{
		margin-bottom:40px;
		li{
			background: #424648;

		}
		li:hover{
			background: #6eeee4;
		}
	}
}