.slider {
	width: 80%;
	margin: auto;
	box-sizing: border-box;
	z-index:2;

}
.slider-fone{
	height: 410px;
	max-width: 480px;
	width: 100%;
	background: #eeeff1;
	position: absolute;
	margin: auto;
	top: 7%;
	right: 7%;
	z-index: 1;
}
@media screen and (max-width: 740px) {
	.slider-fone{
		display: none
	}
}
@media screen and (max-width: 991px) {
	.slider-fone{
		height: 410px;
		max-width: 480px;
		width: 100%;
		top: 10%;
		right: 15%;
	}
}
@media screen and (max-width: 1199px) and(min-width: 991px)  {
	.slider-fone{
		height: 360px;
		max-width: 400px;
	}
}
.slick-slide {
	margin: 0px 5px;
	img {
		margin: auto;
	}
}


.slick-dots{
	li button:before{
		background: black;
		width: 10px !important;
		height: 10px !important;
		border-radius: 2px;
		content: "" !important;
	} 
	li.slick-active button:before{
		background: #71f6eb;
	}

}