.what_they_say{
	background: #f9fbfb;
	&_slider{
		z-index: 2;
		margin-bottom: 140px !important;
		&_fone{
			height: 354px;
			max-width: 370px;
			width: 100%;
			background: #eeeff1;
			position: absolute;
			margin: auto;
			top: 7%;
			right: 58%;
			z-index: 1;
		}
	}
}
.text_wrap{
	background: #eeeff1;
	padding: 70px;
	margin-top: 33px;
	&_head{
		padding-top: 15px;
	}
	&_words{
		padding-top: 20px;
	}
	&_stars{
		color:#f2da3b;
		padding-top: 20px;
	}
}
.what_they_say_slider .slick-dots{
	bottom: -15%;
	left: -25%;
}
.right_arrow{
	right: 20px;
	background: #71f6eb;
}
.left_arrow{
	right: 9%;
	background: white;
}
.right_arrow,
.left_arrow {
	position: absolute;
	bottom: -17%;
}
@media screen and (max-width: 1199px) {
	.what_they_say_slider_fone {
		height: 366px;
		max-width: 370px;
		top: 5%;
		right: 54%;;
	}
	.text_wrap {
		padding: 54px;
		margin-top: 30px;
	}
	
}
@media screen and (max-width: 991px) {
	.left_arrow{
		right: 15%;
		background: white;
	}
	.text_wrap{
		padding: 25px;
	}
	.what_they_say_slider_fone {
		top: 3%;
		right: 24%;
	}
	
}
@media screen and (max-width: 740px) {
	.what_they_say_slider_fone {
		display: none;
	}
	
}
@media screen and (max-width: 640px) {
	.left_arrow{
		right: 20%;
		background: white;
	}	
}
@media screen and (max-width: 450px) {
	.left_arrow{
		right: 25%;
		background: white;
	}	
}